.title-class{
  font-size: 13px;
  font-family: Verdana;
  font-weight: bold;
  margin-bottom: 0px;
}

.sub-title-class{
  font-size: 8px;
  font-family: Verdana; 
  color: rgb(126, 122, 122);
  margin-top: 1px;
}

.description-class{
  font-size: 12px;
  font-family: Verdana;
}

button.get-started-button{
  background-color: green;
  color: white;
  border: none;
  border-radius: 10px;
  font-size: 10px;
  padding: 5px 10px;  

}