p{
  font-family: Roboto, Arial;
  margin-top: 0;
  margin-bottom: 0;
}
.search-bar{
  display: block;
}

.whole-page-grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 17px;
  row-gap: 40px;
  /* margin-bottom: 1000px; */
}

.video-preview{
  /* display: inline-block;
  width: 300px;
  margin-right: 7px; */
  /* vertical-align: top;
  margin-bottom: 25px;
  background-color: orange; */
}

.thumbnail-class{
  margin-bottom: 8px;
  margin-top: -3px;
}

.thumbnail{
  /* width: 300px;
  height: 176px; */
  width: 100%;
  /* display: block; */
  /* object-fit: contain ;
  object-position: left; */
}

.video-info-grid{
  display: grid;
  grid-template-columns: 55px 1fr;
  /* background-color: blue; */

}

.channel-img-1{
  width: 100%;
  /* margin-top: 12px; */
  border-radius: 65px;
  /* background-color: grey; */
}

.display-picture{
  /* display: inline-block;
  width: 50px;
  height: 36px;
  vertical-align: top;
  border-top: 100px;
  margin-left: 4px; */
  /* background-color: grey; */
}

.video-info{
  display: inline-block;
  /* width: 232px;
  margin-left: 10px; */
  /* background-color: grey; */
}

.video-caption{
  font-weight: 700;
  margin-top: 0px;
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 10px;
}

.channel-name,
.stats{
  font-size: 15px;
  color: rgb(96, 96, 96);
  margin-top: 3px;
  line-height: 19px;
}