p{
  font-family: Roboto, Arial;
  margin-top: 0;
  margin-bottom: 0;
}
.search-bar{
  display: block;
}

.video-preview{
  display: inline-block;
  width: 350px;
  margin-right: 5px;
  vertical-align: top;
  margin-bottom: 25px;
}

.thumbnail-class{
  margin-bottom: 12px;
}

.thumbnail{
  width: 335px;
  height: 176px;
  display: block;
  object-fit: contain ;
  object-position: left;
}

.channel-img-1{
  width: 100%;
  /* margin-top: 12px; */
  border-radius: 65px;
}

.display-picture{
  display: inline-block;
  width: 36px;
  height: 36px;
  vertical-align: top;
  border-top: 100px;
  margin-left: 4px;
}

.video-info{
  display: inline-block;
  width: 250px;
  margin-left: 10px;
}

.video-caption{
  font-weight: 700;
  margin-top: 0px;
  font-size: 15px;
  line-height: 20px;
  margin-bottom: 10px;
}

.channel-name,
.stats{
  font-size: 15px;
  color: rgb(96, 96, 96);
  margin-top: 3px;
  line-height: 19px;

}